.containerDiv {
   padding: 10px 20px;
}

.header {
   display: flex;
   justify-content: space-between; 
   align-items: center;
   width: 100%;
}


.title {
 
   color: white;
}
.grid{
    display: flex;
    align-items: center;
}
